<p>catalogue works!</p>

<p>Recherche : </p>
<input (ngModelChange)="valuechange($event)" [(ngModel)]="recherche" placeholder="Entrez nom ou prix maximum"/>

<table cellpadding="5em" cellspacing="5em" >
    <thead>
      <tr>
        <th>Adresse</th>
        <th>Prix</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of obsCatalogue | async; let index = index">
        <td>{{c.adressePropriete}}</td>
        <td>{{c.prix}} €</td>
        <button (click)='AddToBasket(c)'> Ajouter </button>
        <button [routerLink]="['/catalogue', index]" >Détails</button>
      </tr>
    </tbody>
    </table>
<hr />
<br />
<button (click)="getCount()" (click)="funOuPasFun(count)">Compteur de fun</button>
{{ count }}
<p>{{ funLevel }}</p>

<button id="funButton" (click)="resetFun()" (click)="getCount()" (click)="funOuPasFun(count)">Reset le fun</button>