<p>signup works!</p>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container" id="wrap">
	<div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="r" method="post" accept-charset="utf-8" class="form" role="form">   <legend>Sign Up</legend>
                    <div>
                        <input type="text" name="login" value="" class="form-control input-lg" placeholder="Nom d'utilisateur"  />                        
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <input type="text" name="password" value="" class="form-control input-lg" placeholder="Mot de passe"  />                        
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <input type="text" name="confirm_password" value="" class="form-control input-lg" placeholder="Confirmation"  />                        
                        </div>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">Create my account</button>
            </form>          
        </div>
    </div>            
</div>
<br>
<a [routerLink] = "['/accueilroute']" > Route : accueil</a>
<br>
<a [routerLink] = "['/mylazyrouteClient/loginroute']" > Lazy route : se connecter</a>
<br>
